version: '3.8'
 
services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    command:
      - start-dev
    networks:
      - local
 
volumes:
  keycloak_data:
    driver: local
 
networks:
  local:
    driver: bridge
    